<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>

	<title>My App - {% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	
	<!--
	<link rel="icon" type="image/png" href=""/>
	-->
	
	<!-- CSS files -->
	<!--
	<link rel='stylesheet' href='/stylesheets/style.css' />
	-->
	{% block css %}{% endblock %}
	<!-- End CSS-->
	
	<!-- JS files -->
	{% block js %}{% endblock %}
	<!-- End JS -->
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>